<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New user</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="login100-form validate-form" th:action="@{/addUser}" method="post" th:object="${item}" enctype="multipart/form-data">
            <input th:value="${error}" id="error" hidden="hidden">
            <div class="form-group">
                <label class="control-label mb-1">Full name</label>
                <input  type="text" class="form-control" required="required" th:field="*{fullName}">
            </div>
            <div class="form-group">
                <label class="control-label mb-1">Login</label>
                <label style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"   class="validation-message"></label>
                <input  type="text" class="form-control" required="required" th:field="*{username}">
            </div>
            <div class="form-group">
                <label class="control-label mb-1">Password</label>
                <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"   class="validation-message"></label>
                <input  type="password" class="form-control" required="required" th:field="*{password}">
            </div>
            <div class="form-group">
                <label class="control-label mb-1">Password confirm</label>
                <label th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"   class="validation-message"></label>
                <input  type="password" class="form-control" required="required" th:field="*{passwordConfirm}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
</div>